<%- include('../../partials/head.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Categories: </h2>
    <hr>
    <a href="/admin/categories/new" class="btn btn-danger mb-3">Criar Categoria</a>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <%categories.forEach(category => {%>
                <tr>
                    <th><%=category.id%></th>
                    <th><%=category.title%></th>
                    <th><%=category.slug%></th>
                    <th>
                        <a href="/admin/categories/edit/<%= category.id%>" class="btn btn-warning">Editar</a>
                        <form  style="display: inline;" action="/categories/delete" method="POST" onsubmit="confirmarDelete(event, this)">
                            <input type="hidden" name="id" value="<%=category.id%>">
                            <button class="btn btn-danger">Apagar</button>
                        </form>
                        
                    </th>
                </tr>
            <%})%>
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs') %>


<!--
    Aqui, está criado um script de verificação, para o usuário confirmar se quer mesmo deletar a categoria,
    de maneira a contornar acidentes e erros. 
-->
<script>
    function confirmarDelete(event, form) {
        event.preventDefault();
        var confirmar = confirm("Você deseja deletar a categoria?");
        if(confirmar){
            form.submit();
        }
    }  
</script>