<%- include('partials/head.ejs') %>
<%- include('partials/noAdminNav.ejs') %>
<div class="container">
    <%results.articles.rows.forEach(article => {%>
        <div class="card mt-3">
            <div class="card-header">
                <h3><%=article.title%></h3>
            </div>
            <div class="card-body">
                <p><%-article.body%></p>
            </div>
        </div>
    <%})%>
    <%if(results.next || results.page > 1){%>
    <br>
    <div class="row mb-5">
        <div class="col col-12">
            <%if(results.page > 1){%>
                <a style="float: left;" href="/articles/page/<%=results.page -1%>"><<<< Prev</a>
            <%}%>
            <%if(results.next){%>
                <a style="float: right;" href="/articles/page/<%=results.page + 1%>">Next >>>></a>
            <%}%>
        </div>
        <hr>
    </div>
    <%}%>
</div>
<%- include('partials/footer.ejs') %>